<h1>Books</h1>

<table>
  <tr>
    <th><a id="order_by_title" href="?order=title">Title</a></th>
    <th><a id="order_by_author" href="?order=author">Author</a></th>
    <th><a id="order_by_year" href="?order=year">Year</a></th></tr>
  <% books.each do |book| %>
    <%= partial :book, :locals => {:book => book} %>
  <% end %>
</table>

<script type="text/template" id="book_template">
  <%= partial :book, :locals => {:jst => true, :book => JSMock.new("book")}%>
</script>

<script>
  var results_json = <%=results_json%>
  console.log(results_json);
</script>

