<h1>Books</h1>

<table>
  <tr>
    <th><a class="sort_link" id="order_by_title" href="?order=title">Title</a></th>
    <th><a class="sort_link" id="order_by_author" href="?order=author">Author</a></th>
    <th><a class="sort_link" id="order_by_year" href="?order=year">Year</a></th></tr>
  <tbody id="results_list">
    <% books.each do |book| %>
      <%= partial :book, :locals => {:book => book} %>
    <% end %>
  </tbody>
</table>

<script type="text/template" id="book_template">
  <%= partial :book, :locals => {:jst => true, :book => JSMock.new("book")}%>
</script>

<script>
  var results_json = <%=results_json%>
  console.log(results_json)

  function render_list() {
    var book_template = _.template($("#book_template").html())
    $("#results_list").html("")
    _(results_json).each(function(book) {
      $("#results_list").append(book_template({book: book}))
    })
  }

  $(function(){
    render_list()
  })

  $("a.sort_link").click(function(e) {
    var parms = $(this).attr('href')
    e.preventDefault()
    $.getJSON('/books.json'+parms, function(data) {
      results_json = data
      console.log(results_json)
      render_list()
    })
  })
 </script>

