<html>
  <head>
    <title><%= page %></title>
  </head>
  <body class="<%= page %>">
    <nav>
      <ul>
        <li><a href="introduction">Introduction</a></li>
        <li><a href="progressive">Progressive Enhancement</a></li>
      </ul>
    </nav>
    <%= partial page %>
  </body>
</html>
