<html>
  <head>
    <title><%= page %></title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
body {
  padding-top: 40px;
}

.content {
  margin-top: 1em;
}

body.introduction nav .introduction a,
body.progressive nav .progressive a {
  background: black;
  color: white;
}
    </style>
    <script type="text/javascript" src="/lib/path.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
      Path.map("/pages/:page").to(function(){
          console.log(this.params["page"])
          $.ajax({
            url: "/partials/"+this.params["page"], 
            success: function(data){
              $("#content").html(data);
            }
          });
      })

     $(document).ready(function(){
        Path.history.listen();

        $("a").click(function(event){
          event.preventDefault();
          Path.history.pushState({}, "", $(this).attr("href"));
        });
      });
    </script>
  </head>
  <body class="<%= page %>">
    <nav class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Progressive Demo</a>
          <ul class="nav">
            <li class="introduction"><a href="/pages/introduction">Introduction</a></li>
            <li class="progressive"><a href="/pages/progressive">Progressive Enhancement</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div id="content" class="content">
        <%= partial page %>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->
    
  </body>
</html>
