<html>
  <head>
    <title><%= page %></title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 40px;
      }

      .container {
        width: 480px;
      }

      .content {
        margin-top: 1em;
      }

      body[data-page="introduction"] nav .introduction a,
      body[data-page="progressive"] nav .progressive a {
        background: black;
        color: white;
      }
    </style>

    <script type="text/javascript" src="/lib/path.js"></script>
    <script type="text/javascript" src="/lib/underscore.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script>
      Path["initial_page"] = true

      Path.map("/pages/:page").to(function(){
        if(Path["initial_page"]) { return } // ignore the first load
        var page = this.params["page"]
        var current_page = $("body")[0].getAttribute("data-page");
        //console.log(current_page +" -> "+page);

        $("body")[0].setAttribute("data-page", page)
        document.title = page;
        $("#content").html("loading...");

        $.ajax("/pages/"+page, {timeout: 2000})
          .done(function(data) {
            $("#content").html(data)
          })
          .fail(function(jqXHR, textStatus, errorThrown) {
            Path.routes.current = "error"
            $("#content").html(textStatus +
              " <a href='"+window.location.href+"'>try again</a>")
          })
      })

      $(document).ready(function(){
        Path.history.listen()

        $("a").live("click", function(event){
          var url = $(this).attr("href");

          if(Path.match(url)) {
            event.preventDefault()
            Path["initial_page"] = false
            Path.history.pushState({}, "", $(this).attr("href"))
          }
        });
      })
    </script>
  </head>

  <body data-page="<%= page %>">
    <nav class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Progressive Demo</a>
          <ul class="nav">
            <li class="introduction"><a href="/pages/introduction">Introduction</a></li>
            <li class="progressive"><a href="/pages/progressive">Implementation</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div id="content" class="content">
        <%= yield %>
      </div>

      <footer>
        Progressive Enhancement Demo by <a href="http://micheljansen.org">Michel Jansen</a>.
      </footer>

    </div> <!-- /container -->

  </body>
</html>
